---

---

<div
	style={{ backgroundImage: 'url(/assets/images/perfil.webp)' }}
	class="h-full w-full -scale-x-100 bg-cover bg-center bg-no-repeat blur-md grayscale-[55%]"
>
</div>
<div class="absolute inset-0 bg-primary/10 mix-blend-multiply blur-md"></div>
<div class="absolute inset-0 bg-light/60 blur-md"></div>
