---

---

<a
	href="https://creandoyoga.com"
	target="_blank"
	data-customTooltip="Haz clic para acceder a la escuela online!"
	id="creando-yoga"
	class="tooltip transition-all"
>
	<div class="top">
		<span class="font-heading">Haz clic para acceder a la escuela online!</span><i></i>
	</div>
	<span class="text-creando-yoga inline-block text-5xl font-bold leading-normal">Creando Yoga</span>
	<span
		class="mask text-creando-yoga absolute inset-0 inline-block text-5xl font-bold leading-normal"
	>
		Creando Yoga
	</span>
</a>

<style>
	.tooltip .top {
		min-width: 200px;
		width: max-content;
		top: -10px;
		left: 50%;
		transform: translate(-50%, -100%);
		padding: 4px 20px;
		color: var(--text);
		background-color: var(--light);
		font-weight: normal;
		font-size: 13px;
		border-radius: 8px;
		position: absolute;
		z-index: 99999999;
		box-sizing: border-box;
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
		visibility: hidden;
		opacity: 0;
		transition: opacity 1s;
	}

	.tooltip:hover .top {
		visibility: visible;
		opacity: 1;
	}

	.tooltip .top i {
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -12px;
		width: 24px;
		height: 12px;
		overflow: hidden;
	}

	.tooltip .top i::after {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		background-color: var(--light);
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	}

	.text-creando-yoga {
		-webkit-text-stroke: 1.5px var(--primary); /* Contorno de las letras */
		-webkit-text-fill-color: transparent; /* Texto inicialmente vacío */
	}

	.mask {
		-webkit-text-stroke: 1.5px var(--primary); /* Contorno igual al de texto */
		-webkit-text-fill-color: var(--primary); /* Color al hacer hover */
	}

	/* Efecto al hacer hover: se revela de izquierda a derecha */
	#creando-yoga:hover .mask {
		animation: show 0.75s var(--ease) forwards;
	}

	/* Efecto al dejar de hacer hover: se oculta de derecha a izquierda */
	#creando-yoga:not(:hover) .mask {
		animation: hide 0.75s var(--ease) forwards;
	}

	@keyframes show {
		from {
			clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		}
		to {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}

	@keyframes hide {
		from {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		to {
			clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		}
	}
</style>
