---
import { Image } from 'astro:assets'
import MenuIcons from '@/components/MenuIcons.astro'
---

<div
	style={{ backgroundImage: 'url(/assets/images/perfil.webp)' }}
	class="h-full w-full bg-cover bg-center bg-no-repeat blur-lg"
>
</div>
<div class="absolute inset-0 bg-primary/10 mix-blend-multiply blur-md"></div>
<div class="absolute inset-0 bg-light/60 blur-md"></div>
<div
	class="absolute left-1/2 top-0 z-10 flex h-screen w-[min(100%,1280px)] -translate-x-1/2 flex-col justify-between px-2 py-4 pt-[calc(var(--header-height)+2rem)]"
>
	<h4 class="text-[1.4rem] text-primary">Bienvenid@s</h4>
	<div class="w-[min(90%,1280px)] lg:mx-auto lg:flex lg:items-center lg:gap-8">
		<div class="w-[min(90%,600px)] lg:w-2/3">
			<h1 class="mb-6 font-bold">Míriam R. Vázquez</h1>
			<p class="leading-normal sm:text-[1.35rem] lg:text-2xl">
				¡Hola! Mi nombre es Míriam y soy profesora de yoga certificada. Estoy muy emocionada de
				poder compartir mi pasión y experiencia contigo a través de mi sitio web. Creo que una vida
				más bonita está al alcance de tod@s y que con las herramientas y la mentalidad adecuadas,
				puedes alcanzar tu máximo potencial y vivir una vida plena y significativa.
			</p>
		</div>
		<div
			class="relative hidden h-[450px] w-[min(100%,350px)] overflow-hidden rounded-md shadow-md lg:block lg:w-1/3"
		>
			<Image
				class="relative h-full w-full -scale-x-100 rounded-md object-cover grayscale-[55%]"
				src="/assets/images/perfil.webp"
				alt="Perfil"
				width={300}
				height={600}
			/>
		</div>
	</div>
	<div class="mx-2 mb-32">
		<h4 class="inline-block origin-left rotate-90">Sígueme en mis redes</h4>
	</div>
	<div class="flex items-center justify-between gap-4">
		<div>
			<MenuIcons className="gap-2 xl:gap-3" />
		</div>
		<div class="font-heading text-xl text-primary">hola@laisladelyoga.com</div>
	</div>
</div>
