---

---

<h3
	id="isla-title"
	class="absolute bottom-0 right-4 z-20 hidden sm:block md:-bottom-12 md:right-12"
>
	<span class="text-isla inline-block text-5xl font-bold leading-normal">La Isla del Yoga</span>
	<span class="mask text-isla absolute inset-0 inline-block text-5xl font-bold leading-normal">
		La Isla del Yoga
	</span>
</h3>

<style>
	.text-isla {
		-webkit-text-stroke: 1.5px var(--primary); /* Contorno de las letras */
		-webkit-text-fill-color: transparent; /* Texto inicialmente vacío */
	}

	.mask {
		-webkit-text-stroke: 1.5px var(--primary); /* Contorno igual al de texto */
		-webkit-text-fill-color: var(--primary); /* Color al hacer hover */
	}

	/* Efecto al hacer hover: se revela de izquierda a derecha */
	#isla-title:hover .mask {
		animation: show 0.75s var(--ease) forwards;
	}

	/* Efecto al dejar de hacer hover: se oculta de derecha a izquierda */
	#isla-title:not(:hover) .mask {
		animation: hide 0.75s var(--ease) forwards;
	}

	@keyframes show {
		from {
			clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		}
		to {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}

	@keyframes hide {
		from {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		to {
			clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		}
	}
</style>
