---

---

<div
	class="relative z-10 flex min-h-[30vh] flex-col items-center rounded-lg px-4 py-32 max-xl:bg-white/35 max-xl:shadow-[0_0_15px_rgba(255,255,255,0.5)] max-xl:backdrop-blur-sm sm:px-12 xl:bg-white/0"
>
	<div class="mb-8 w-full">
		<h2 class="text-5xl">Mis habilidades</h2>
		<small class="">/ Consectetur /</small>
	</div>
	<div class="space-y-4">
		<p class="leading-normal sm:text-[1.35rem] lg:text-2xl">
			Desde hace más de una década, he podido ver cómo muchas personas se han transformado a si
			mismas a través del yoga, consiguiendo sentirse mucho mejor consigo mismas y con su entorno.
		</p>
		<p class="leading-normal sm:text-[1.35rem] lg:text-2xl">
			Me he formado en diferentes estilos de yoga (Anusara, terapéutico, aéreo…) y meditación (por
			la escuela de Satyananda) y en otras disciplinas (Reiki, Danza, Teatro…) que me permiten poder
			ayudarte a descubrir todo tu potencial.
		</p>
		<p class="leading-normal sm:text-[1.35rem] lg:text-2xl">
			¡Un centenar de personas ya han pasado por mis talleres y cursos quedando plenamente
			satisfechas!.
		</p>
		<p class="leading-normal sm:text-[1.35rem] lg:text-2xl">Anímate y practica conmigo.</p>
	</div>
</div>
