---
interface Props {
	text: string
	className?: string
	year: number
}

const { text, className, year } = Astro.props
---

<div class:list={['absolute left-12 z-20 md:left-0', className]}>
	<div class="w-36 md:-rotate-90">
		<p class="font-heading text-primary">({year})</p>
		<h5 class="text-primary">{text}</h5>
	</div>
</div>
