---
import AnimationIslaElement from '@/components/homePage/AnimationIslaElement.astro'

interface Props {
	color?: 'amber' | 'dark'
	fill?: 'amber' | 'dark' | 'transparent'
	className?: string
	delay?: string
}

const { fill = 'dark', color = 'dark', className, delay = '0s' } = Astro.props

const colors = {
	amber: 'var(--primary)',
	dark: 'var(--text)'
}

const colorsFill = {
	amber: 'var(--primary)',
	dark: 'var(--text)',
	transparent: 'transparent'
}
---

<div class:list={['flex h-[130px] items-center overflow-hidden', className]}>
	<div class="grid-isla">
		<AnimationIslaElement className="animate-up-1 row-span-2 items-end [grid-area:i]"
			>i</AnimationIslaElement
		>
		<AnimationIslaElement className="animate-down-1 items-end [grid-area:s] [scale:.9_1]"
			>o</AnimationIslaElement
		>
		<AnimationIslaElement className="animate-up-2 row-span-2 items-end [grid-area:l]"
			>l</AnimationIslaElement
		>
		<AnimationIslaElement className="animate-down-2 items-end [grid-area:a]">a</AnimationIslaElement
		>
		<AnimationIslaElement className="animate-up-1 items-end [grid-area:y]">y</AnimationIslaElement>
		<AnimationIslaElement className="animate-down-1 [grid-area:o]">s</AnimationIslaElement>
		<AnimationIslaElement className="animate-up-2 [grid-area:g]">g</AnimationIslaElement>
		<AnimationIslaElement className="animate-down-2 row-span-2 [grid-area:e]"
			>a</AnimationIslaElement
		>
	</div>
</div>

<style is:global define:vars={{ color: colors[color], fill: colorsFill[fill], delay }}>
	.grid-isla {
		display: grid;
		grid-template-columns: repeat(4, minmax(50px, 1fr));
		grid-template-rows: repeat(3, 96px);
		grid-template-areas:
			'i s l a'
			'i o l e'
			'y o g e';

		span {
			-webkit-text-stroke: 3px var(--color);
			-webkit-text-fill-color: var(--fill);
		}
	}

	@keyframes bounceUp {
		0% {
			transform: translateY(0px);
		}
		100% {
			transform: translateY(-96px);
		}
	}

	@keyframes bounceDown {
		0% {
			transform: translateY(0px);
		}
		100% {
			transform: translateY(96px);
		}
	}

	/* Animaciones para las letras */
	.animate-up-1 {
		animation: bounceUp 4s var(--delay, 0s) var(--ease) infinite alternate;
	}
	.animate-up-2 {
		animation: bounceUp 4s var(--delay, 0s) var(--ease) infinite alternate;
	}

	.animate-down-1 {
		animation: bounceDown 4s var(--delay, 0s) var(--ease) infinite alternate;
	}
	.animate-down-2 {
		animation: bounceDown 4s var(--delay, 0s) var(--ease) infinite alternate;
	}
</style>
