---
import BlobOne from '@/components/icons/Blob-one.icon.astro'
import BlobThree from '@/components/icons/Blob-three.icon.astro'
import BlobTwo from '@/components/icons/Blob-two.icon.astro'
import BlobFour from '@/components/icons/Blob-four.icon.astro'

import PoseWomanThree from '@/components/icons/Pose-women-three.icon.astro'
import PoseWomanFour from '@/components/icons/Pose-woman-four.icon.astro'
import PoseWomanFive from '@/components/icons/Pose-woman-five.icon.astro'
import PoseWomanSix from '@/components/icons/Pose-woman-six.icon.astro'

const dataChallenge = [
	{
		title: 'Empoderamiento',
		description:
			'Dentro de ti hay una fuerza primigenia que ha de ser expresada de forma consciente para que puedas, por fin, ser tú misma y enfrentarte a todos los desafíos que la vida te presenta',
		Blob: BlobOne,
		Silhouette: PoseWomanThree,
		bgColor: 'bg-primary/10',
		textColor: 'text-primary'
	},
	{
		title: 'Confianza',
		description:
			'Llegarás a entender cómo valorarte más y a recuperar la confianza en ti misma para poder construir la vida que realmente deseas sin miedo.',
		Blob: BlobTwo,
		Silhouette: PoseWomanFive,
		bgColor: 'bg-turquoise/10',
		textColor: 'text-turquoise'
	},
	{
		title: 'Libertad',
		description:
			'Podrás expresarte sin juicios ni prejuicios, y finalmente abrirte al mundo desde tu ser interior',
		Blob: BlobThree,
		Silhouette: PoseWomanFour,
		bgColor: 'bg-purple-pale/10',
		textColor: 'text-purple-pale brightness-50'
	},
	{
		title: 'Autoestima',
		description:
			'Aprenderás a respetarte como ser humano y a encontrar la belleza intrínseca que reside en ti',
		Blob: BlobFour,
		Silhouette: PoseWomanSix,
		bgColor: 'bg-sky-pale/10',
		textColor: 'text-sky-950'
	}
] as const
---

<div class="grid-challenge max-lg:space-y-4 xl:w-full">
	{
		dataChallenge.map(({ title, textColor, Blob, Silhouette, bgColor, description }, i) => (
			<div
				data-challenge={i}
				class:list={[
					'group relative mx-auto h-[35vh] w-[min(100%,600px)] overflow-hidden rounded-3xl',
					bgColor
				]}
			>
				<h2
					class:list={[
						'relative pr-4 pt-4 text-right text-5xl brightness-50 transition-all duration-700 ease-[var(--ease)]',
						textColor
					]}
				>
					{title}
				</h2>
				<p
					class:list={[
						'absolute left-0 top-1/2 w-full -translate-y-1/2 scale-[95%] px-8 text-center font-normal opacity-0 brightness-50 transition-all duration-700 ease-[var(--ease)] group-hover:scale-100 group-hover:opacity-100',
						textColor
					]}
				>
					{description}
				</p>
				<div
					data-blob
					class="absolute left-1/2 top-1/2 h-[550px] w-[550px] -translate-x-1/2 -translate-y-1/2 transition-all duration-700 ease-[var(--ease)] group-hover:scale-[700%]"
				>
					<Blob />
				</div>
				<div
					data-silhouette
					class="absolute bottom-[-4rem] h-full w-full scale-[85%] transition-all duration-700 ease-[var(--ease)] group-hover:scale-[100%] group-hover:opacity-10 xl:scale-75"
				>
					<Silhouette className="h-full w-full" />
				</div>
			</div>
		))
	}
</div>

<style>
	[data-challenge='0'] {
		[data-silhouette] {
			bottom: -1.5rem;
			scale: 75%;
			[data-blob] {
				width: 600px;
				height: 600px;
			}
		}
	}
	[data-challenge='1'] {
		[data-silhouette] {
			bottom: 0rem;
		}
		[data-blob] {
			bottom: 0%;
		}
	}

	[data-challenge='0'],
	[data-challenge='2'] {
		h2 {
			text-align: left;
			padding-left: 1rem;
		}
	}
	@media (width >= 1024px) {
		.grid-challenge {
			display: grid;
			gap: 1rem;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 35vh);
			grid-template-areas:
				'top top aside'
				'bottom middle aside';
		}

		[data-challenge='0'] {
			grid-area: top;
			width: 100%;
			[data-silhouette] {
				bottom: -2.5rem;
			}
		}
		[data-challenge='1'] {
			grid-area: aside;
			width: 100%;
			height: 100%;
			[data-blob] {
				bottom: 25%;
				left: 60%;
			}
		}
		[data-challenge='2'] {
			grid-area: bottom;
			width: 100%;
		}
		[data-challenge='3'] {
			grid-area: middle;
			width: 100%;
		}
	}

	.group:hover h2 {
		text-shadow: 1px 0 0 currentColor;
	}
</style>
