---
import Container from '@/components/Container.astro'
import PassionYoga from '@/components/homePage/PassionYoga.astro'
import ServicesYoga from '@/components/homePage/ServicesYoga.astro'
---

<Container>
	<PassionYoga />
	<ServicesYoga />
	<p>
		porro quibusdam rerum quam quisquam ut numquam perferendis illo veniam pariatur libero
		aspernatur placeat dolore inventore dolores iusto laborum! Voluptatibus, praesentium modi
		laboriosam architecto aspernatur odit excepturi officiis? Dolorum nisi commodi iste corrupti
		provident accusantium! Eius, repudiandae laudantium temporibus iusto rem, illo velit excepturi
		sint sed facilis incidunt vitae. Cum eveniet in, veritatis labore et sed atque quidem repellat
		vel obcaecati aliquam at distinctio eum soluta nemo? Quod repellendus porro similique asperiores
		quasi aperiam corrupti consectetur hic repellat temporibus.
	</p>
</Container>
