---
import Container from '@/components/Container.astro'
import PassionYoga from '@/components/homePage/PassionYoga.astro'
import ServicesYoga from '@/components/homePage/ServicesYoga.astro'
import PracticesYoga from '@/components/homePage//PracticesYoga.astro'
import ChallengeYoga from '@/components/homePage/ChallengeYoga.astro'
import CreandoYoga from '@/components/homePage/CreandoYoga.astro'
---

<Container className="flex flex-col gap-16">
	<div id="container-passion-yoga">
		<PassionYoga />
	</div>
	<div id="container-services-yoga">
		<ServicesYoga />
	</div>
	<div id="container-practices-yoga">
		<PracticesYoga />
	</div>
	<div id="container-chanllenge-yoga">
		<ChallengeYoga />
	</div>
	<div id="container-creando-yoga">
		<CreandoYoga />
	</div>
</Container>

<script>
	import { inView, animate } from 'motion'

	document.addEventListener('astro:page-load', () => {
		const containerPassionYoga = document.getElementById('container-passion-yoga') as HTMLDivElement
		const containerServicesYoga = document.getElementById(
			'container-services-yoga'
		) as HTMLDivElement
		const containerPracticesYoga = document.getElementById(
			'container-practices-yoga'
		) as HTMLDivElement
		const containerChallengeYoga = document.getElementById(
			'container-chanllenge-yoga'
		) as HTMLDivElement
		const containerCreandoYoga = document.getElementById('container-creando-yoga') as HTMLDivElement

		function animationInView(containerElement: HTMLDivElement) {
			inView(
				containerElement,
				(enterInfo) => {
					const firstElementChild = enterInfo.target.firstElementChild as HTMLDivElement

					animate(
						firstElementChild,
						{ opacity: 1, transform: ['translateY(100px)', 'translateY(0px)'] },
						{ duration: 1.25, easing: 'ease-out' }
					)
					// return (leaveInfo) => {
					// 	console.log('leave', { leaveInfo })
					// 	animate(firstElementChild, { opacity: 0 }, { duration: 1.75 })
					// }
				},
				{ amount: 0.75 }
			)
		}
		animationInView(containerPassionYoga)
		animationInView(containerServicesYoga)
		animationInView(containerPracticesYoga)
		animationInView(containerChallengeYoga)
		animationInView(containerCreandoYoga)
	})
</script>
