---
interface Props {
	className?: string
}

const { className } = Astro.props
---

<p
	class:list={[
		'relative font-heading font-bold uppercase leading-[1.15] [font-size:var(--fs-700)] sm:[font-size:var(--fs-700)]',
		className
	]}
>
	<slot />
</p>
