---
import Container from '@/components/Container.astro'
import MainHeading from '@/components/homePage/MainHeading.astro'
import AnimationIsla from '@/components/homePage/AnimationIsla.astro'
import Marquee from '@/components/homePage/Marquee.astro'
import CarouselYoga from '@/components/CarouselYoga.astro'
import CircularText from '@/components/CircularText.astro'
---

<Container
	className="flex min-h-screen items-center justify-center px-2 py-[calc(var(--header-height)/2)] sm:px-6"
>
	<div
		class="relative flex h-full w-full flex-col items-center justify-center gap-6 pt-[calc(var(--header-height))] lg:gap-0 xl:pt-0"
	>
		<MainHeading />
		<div
			class="relative mx-auto flex max-w-[900px] flex-col items-center gap-4 md:flex-row-reverse xl:gap-0"
		>
			<AnimationIsla
				color="amber"
				fill="transparent"
				className="justify-center md:w-[35%] md:justify-start md:pr-4"
			/>
			<div class="hidden h-auto w-[300px] items-center lg:flex">
				<CircularText />
			</div>
			<div class="flex items-center md:w-[65%]">
				<p
					class="mx-auto w-[min(100%,480px)] text-center text-[.95rem] leading-snug md:text-right md:text-sm lg:text-base"
				>
					Te doy la bienvenida a La Isla del Yoga, un proyecto que, tras varios años de gestación,
					nace para ofrecerte un nuevo enfoque de tu práctica de Yoga, poniendo a tu disposición un
					contenido profundo y transformador que permita integrar en tu vida y en tu mundo interior
					cualidades como la paz, la calma, la armonía o el bienestar.
				</p>
			</div>
		</div>
		<CarouselYoga />
		<div class="mt-auto max-xl:hidden">
			<Marquee />
		</div>
	</div>
</Container>
