---

---

<div class="text-center">
	<p
		class="font-heading font-normal uppercase leading-[1.15] [font-size:var(--fs-700)] sm:[font-size:var(--fs-700)]"
	>
		Mejora
	</p>
	<p
		class="font-heading font-normal uppercase leading-[1.15] [font-size:var(--fs-700)] sm:[font-size:var(--fs-700)]"
	>
		tu vida
	</p>
	<p
		class="font-heading font-normal uppercase leading-[1.15] [font-size:var(--fs-700)] sm:[font-size:var(--fs-700)]"
	>
		a través de la
	</p>
</div>
