---
import HeadingText from './HeadingText.astro'
---

<div
	class="max-xl:text-center xl:mt-[calc(var(--header-height)*2)] xl:flex xl:flex-1 xl:items-center"
>
	<div>
		<HeadingText className="sm:text-start xl:left-[-29%]">Mejora</HeadingText>
		<HeadingText className="xl:left-[-15%]">tu vida</HeadingText>
		<HeadingText>a través de la</HeadingText>
	</div>
</div>
