---

---

<div class="max-xl:text-center">
	<p
		class="relative text-start font-heading font-bold uppercase leading-[1.15] [font-size:var(--fs-700)] sm:[font-size:var(--fs-700)] xl:left-[-30%]"
	>
		Mejora
	</p>
	<p
		class="relative font-heading font-bold uppercase leading-[1.15] [font-size:var(--fs-700)] sm:[font-size:var(--fs-700)] xl:left-[-15%]"
	>
		tu vida
	</p>
	<p
		class="font-heading font-bold uppercase leading-[1.15] [font-size:var(--fs-700)] sm:[font-size:var(--fs-700)]"
	>
		a través de la
	</p>
</div>
