---

---

<div class="text-center xl:self-start">
	<p
		class="relative text-start font-heading font-normal uppercase leading-[1.15] [font-size:var(--fs-700)] sm:[font-size:var(--fs-700)] xl:left-[-20%]"
	>
		Mejora
	</p>
	<p
		class="relative font-heading font-normal uppercase leading-[1.15] [font-size:var(--fs-700)] sm:[font-size:var(--fs-700)] xl:left-[-33%]"
	>
		tu vida
	</p>
	<p
		class="font-heading font-normal uppercase leading-[1.15] [font-size:var(--fs-700)] sm:[font-size:var(--fs-700)]"
	>
		a través de la
	</p>
</div>
