---

---

<div class="fadeout-horizontal marquee relative flex">
	<div class="flex animate-marquee items-center whitespace-nowrap">
		<p class="font-heading text-2xl">+10 años de experiencia</p>
		<span class="mx-2 text-sm text-primary">✫</span>
		<p class="font-heading text-2xl">Compromiso y apoyo</p>
		<span class="mx-2 text-sm text-primary">✫</span>
		<p class="font-heading text-2xl">Dedicación y progreso continuo</p>
		<span class="mx-2 text-sm text-primary">✫</span>
		<p class="font-heading text-2xl">Asesoramiento personalizado</p>
		<span class="mx-2 text-sm text-primary">✫</span>
	</div>

	<div class="absolute top-0 flex animate-marquee2 items-center whitespace-nowrap">
		<p class="font-heading text-2xl">+10 años de experiencia</p>
		<span class="mx-2 text-sm text-primary">✫</span>
		<p class="font-heading text-2xl">Compromiso y apoyo</p>
		<span class="mx-2 text-sm text-primary">✫</span>
		<p class="font-heading text-2xl">Dedicación y progreso continuo</p>
		<span class="mx-2 text-sm text-primary">✫</span>
		<p class="font-heading text-2xl">Asesoramiento personalizado</p>
		<span class="mx-2 text-sm text-primary">✫</span>
	</div>
</div>

<style>
	.marquee:hover .animate-marquee2,
	.marquee:hover .animate-marquee {
		animation-play-state: paused;
	}
	.fadeout-horizontal {
		mask-image: linear-gradient(
			to right,
			transparent,
			black 5rem,
			black calc(100% - 5rem),
			transparent
		);
	}
</style>
