:root {
	--header-height: 4.5rem;
	--ease: cubic-bezier(0.83, 0, 0.17, 1);
	--header-bar-height: 0.25rem;
	--header-bar-width: 10rem;
	--header-bar-top: 95%;

	/* Tamaño fuente */

	--fs-100: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
	--fs-200: clamp(1rem, calc(0.93rem + 0.33vw), 1.105rem);
	--fs-300: clamp(1.105rem, calc(1.05rem + 0.63vw), 1.28rem);
	--fs-400: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.5rem);
	--fs-500: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
	--fs-600: clamp(2.33rem, calc(1.41rem + 4.63vw), 5rem);
	--fs-700: clamp(3rem, calc(2rem + 5vw), 5.6rem);

	/* Colores */
	--white: #ffffff;
	--light: #f6f2ef;
	--primary: #b45309;
	--primary-rgb: rgb(180, 83, 9);
	--text: #18181b;
	--text-rgb: rgb(24, 24, 27);
	--secondary: #082f49;
	--turquoise: #349098;
	--purple-pale: #b06dcc;
	--sky-pale: #61bbf7;
}

html {
	@apply overflow-x-hidden;
}
html,
body {
	@apply bg-light;
}

body p,
body span {
	@apply font-body font-light leading-[1.8] text-text [font-size:var(--fs-300)] [text-wrap:pretty];
}

body article p {
	@apply my-4 leading-[1.8] lg:text-2xl;
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-heading font-light leading-[1.2] text-text [text-wrap:balance];
}

h1 {
	@apply [font-size:var(--fs-600)];
}
h2 {
	@apply [font-size:var(--fs-500)];
}
h3 {
	@apply [font-size:var(--fs-400)];
}
h4 {
	@apply [font-size:var(--fs-300)];
}
h5 {
	@apply [font-size:var(--fs-200)];
}

.post article p {
	@apply my-6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
	position: relative;
	z-index: -12;
}
