---
import FormContact from '@/components/contact/FormContact.astro'
import VerticalHeading from '@/components/contact/VerticalHeading.astro'
import Container from '@/components/Container.astro'
import PoseWomanEight from '@/components/icons/Pose-woman-eight.icon.astro'
import MainLayout from '@/layouts/MainLayout.astro'

export const prerender = false
---

<MainLayout
	description="Página de contacto de La isla del Yoga. Puedes ponerte en contacto con Míriam para cualquier tema relacionado con sus clases o sus artículos."
	title="Contacto | La isla del Yoga"
>
	<section
		class="min-h-screen bg-white py-[calc(var(--header-height)+2rem)] shadow-y-section xl:pt-[calc(var(--header-height)+4rem)]"
	>
		<Container>
			<div class="max-xl:space-y-8 xl:flex xl:gap-4 xl:px-4">
				<div class="relative !leading-[1.125] xl:w-1/2">
					<VerticalHeading />
					<div
						class="absolute -bottom-6 left-1/2 z-10 w-full -translate-x-1/2 text-center sm:bottom-0"
					>
						<h3 class="font-normal">Pero jamás pierdas el contacto contigo</h3>
						<p class="mt-3 text-[.95rem]">
							Envíame un correo electrónico a <span
								id="span-email"
								class="inline-block scale-100 bg-white px-1 text-[.95rem] text-primary underline underline-offset-2 motion-duration-700 motion-ease-spring-bounciest"
								>hola@laisladelyoga.com</span
							> o a través del siguiente formulario
						</p>
					</div>
					<div
						class="mx-auto h-[600px] w-[min(100%,600px)] -motion-translate-y-loop-[2%]/mirror -motion-rotate-loop-1/mirror motion-duration-[4s] motion-ease-spring-bouncier"
					>
						<PoseWomanEight />
					</div>
				</div>
				<div
					class="w-full max-w-2xl rounded-md max-xl:mx-auto xl:flex xl:w-1/2 xl:items-center xl:justify-center"
				>
					<FormContact />
				</div>
			</div>
		</Container>
	</section>
</MainLayout>

<script>
	document.addEventListener('astro:page-load', () => {
		const spanEmail = document.getElementById('span-email') as HTMLSpanElement

		const startClasses = ['motion-scale-out-150', 'motion-rotate-out-2']
		const leaveClasses = ['motion-scale-in-150', 'motion-rotate-in-2']

		function toggleClasses(
			element: HTMLSpanElement,
			startClasses: string[],
			leaveClasses: string[]
		) {
			element.classList.add(...startClasses)
			element.classList.remove(...leaveClasses)
		}

		spanEmail.addEventListener('mouseenter', () =>
			toggleClasses(spanEmail, startClasses, leaveClasses)
		)

		spanEmail.addEventListener('mouseleave', () =>
			toggleClasses(spanEmail, leaveClasses, startClasses)
		)
	})
</script>
