---
import Container from '@/components/Container.astro'
import MainLayout from '@/layouts/MainLayout.astro'
import MainHeading from '@/components/homePage/MainHeading.astro'
import AnimationIsla from '@/components/homePage/AnimationIsla.astro'
import GridServices from '@/components/homePage/GridServices.astro'
import CarouselYoga from '@/components/homePage/CarouselYoga.astro'
---

<MainLayout title="relative Home page | La isla del Yoga">
	<section class="flex flex-col gap-4 bg-pampas-50 px-2 py-10 sm:px-6">
		<div class="flex justify-center">
			<div class="relative flex flex-col items-center justify-center gap-6">
				<MainHeading />
				<div
					class="relative mx-auto flex max-w-[900px] flex-col gap-4 md:flex-row-reverse xl:gap-0"
				>
					<AnimationIsla
						color="amber"
						className="justify-center md:w-[35%] md:justify-start md:pr-4"
					/>
					<div class="flex items-center md:w-[65%]">
						<p
							class="mx-auto w-[min(100%,480px)] text-[.95rem] leading-snug md:text-right md:text-sm lg:text-base"
						>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit tenetur consequuntur enim
							aut perspiciatis quo delectus nulla doloremque ad fuga! Laudantium modi atque
							laboriosam unde delectus at commodi?
						</p>
					</div>
				</div>
				<CarouselYoga />
			</div>
		</div>
	</section>
	<section class="bg-white px-2 py-10 sm:px-6">
		<Container>
			<div class="relative lg:flex lg:justify-between lg:gap-4">
				<div class="mb-4 lg:mb-0 lg:w-[40%] lg:self-end">
					<h4
						class="mb-4 text-3xl tracking-[.12em] text-amber-700 max-lg:text-center lg:tracking-wider"
					>
						¿Qué puedo hacer por tí?
					</h4>
					<h2
						class="text-[12vw] font-light leading-none max-lg:text-center md:text-[10vw] lg:text-5xl xl:text-6xl"
					>
						Mi pasión por el Yoga
					</h2>
					<p class="text-md mt-6 leading-[1.5] max-lg:text-center lg:indent-12">
						Estos años de dedicación, de trabajo y estudio de diversas prácticas de yoga se han
						convertido en un hermoso viaje de conocimientos y crecimiento continuo que ahora me
						gustaría compartir.
					</p>
				</div>
				<GridServices />
			</div>
		</Container>
	</section>
</MainLayout>
