---
import { Image } from 'astro:assets'

import DropYoga from '@/components/icons/Drop-yoga.icon.astro'
import HandYoga from '@/components/icons/Hand-yoga.icon.astro'
import StoneYoga from '@/components/icons/Stone-yoga.icon.astro'
import LotusYoga from '@/components/icons/Lotus-yoga.icon.astro'
import PoseWomanOne from '@/components/icons/Pose-woman-one.icon.astro'
import Container from '@/components/Container.astro'
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout title="Home page | La isla del Yoga">
	<section class="bg-white py-10">
		<Container>
			<div class="relative px-2 lg:flex lg:justify-between lg:gap-4">
				<div class="mb-4 max-lg:py-10 lg:mb-0 lg:w-[40%] lg:self-end">
					<h4
						class="mb-4 text-3xl tracking-[.12em] text-amber-700 max-lg:text-center lg:tracking-wider"
					>
						¿Qué puedo hacer por tí?
					</h4>
					<h2
						class="text-[12vw] font-light leading-none max-lg:text-center md:text-[10vw] lg:text-5xl xl:text-6xl"
					>
						Mi pasión por el Yoga
					</h2>
					<p class="text-md mt-6 leading-[1.5] max-lg:text-center lg:indent-12">
						Años de dedicación, trabajo y estudio de diversas prácticas de yoga se han convertido en
						un viaje de conocimiento y crecimiento continuo que ahora quiero compartir con todo el
						mundo.
					</p>
				</div>
				<div class="grid-home mx-auto max-w-4xl lg:w-[60%]">
					<div
						class="relative flex items-end justify-start overflow-hidden rounded-[36px] border border-zinc-900 p-2 [grid-area:text] lg:p-0"
					>
						<div class="absolute -right-8 top-4 hidden md:block lg:w-2/3">
							<PoseWomanOne />
						</div>

						<h3 class="relative p-2 sm:w-2/3 sm:p-4 md:p-8 md:text-4xl">
							Conecta profundamente con tu esencia
						</h3>
					</div>
					<div
						class="flex flex-col items-center justify-center rounded-[36px] border border-[var(--turquoise)] p-4 [grid-area:top] lg:p-6"
					>
						<DropYoga />
						<small class="mt-4 hidden font-heading text-2xl text-[var(--turquoise)] md:block"
							>Cursos y Talleres</small
						>
					</div>
					<div
						class="flex flex-col items-center justify-center rounded-[36px] border border-[var(--amber-700)] p-2 [grid-area:right] lg:p-6"
					>
						<StoneYoga />
						<small class="mt-4 hidden font-heading text-2xl text-[var(--amber-700)] md:block"
							>Artículos y Libros</small
						>
					</div>
					<div
						class="flex flex-col items-center justify-center rounded-[36px] border border-green-800 p-2 [grid-area:left] lg:p-6"
					>
						<LotusYoga />
						<small class="mt-4 hidden font-heading text-2xl text-[var(--green)] md:block"
							>Sesiones Online</small
						>
					</div>
					<div
						class="flex flex-col items-center justify-center rounded-[36px] border border-[var(--purple-pale)] p-2 [grid-area:bottom] lg:p-6"
					>
						<HandYoga />
						<small class="mt-4 hidden font-heading text-2xl text-[var(--purple-pale)] md:block"
							>Clases Personalizadas</small
						>
					</div>
				</div>
			</div>
		</Container>
	</section>
</MainLayout>

<style>
	.grid-home {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, minmax(100px, 1fr));
		grid-template-areas:
			'text text top'
			'text text right'
			'left bottom bottom';
		gap: 1rem;
	}
</style>
