---
import { actions } from 'astro:actions'
import MainLayout from '@/layouts/MainLayout.astro'

const { data } = await actions.getAllArticles()

// console.log({ data })
---

<MainLayout title="Home page">
	<h1>Home Page</h1>
</MainLayout>
