---
import MainLayout from '@/layouts/MainLayout.astro'
import HeroHome from '@/components/homePage/HeroHome.astro'
import ContentHome from '@/components/homePage/ContentHome.astro'
---

<MainLayout title="relative Home page | La isla del Yoga">
	<section class="light sticky left-0 top-0 flex w-full flex-col gap-4 px-2 py-10 sm:px-6">
		<HeroHome />
	</section>
	<section
		class="relative grid min-h-[100dvh] place-items-center bg-white px-2 py-8 shadow-y-section sm:px-6"
	>
		<ContentHome />
	</section>
</MainLayout>
