---
import HeroAboutMe from '@/components/about-me/HeroAboutMe.astro'
import ContentAboutMe from '@/components/about-me/ContentAboutMe.astro'
import Container from '@/components/Container.astro'
import MainLayout from '@/layouts/MainLayout.astro'
import { Image } from 'astro:assets'
---

<MainLayout
	description="Página donde se habla de Míriam, creadora de contenido especializado en Yoga y fundadora de La isla del Yoga así como de la escuela creandoyoga.com"
	title="Sobre mí | La isla del Yoga"
>
	<section
		class="hero-about-me sticky left-0 top-0 min-h-[100dvh] w-full shadow-y-section motion-duration-1000 lg:flex"
	>
		<Container className="relative order-1 w-full py-2">
			<HeroAboutMe />
		</Container>
	</section>
	<section class="relative grid min-h-[100dvh] place-items-center bg-white py-24 shadow-y-section">
		<Container className="relative flex h-full items-center justify-center xl:justify-start">
			<ContentAboutMe />
		</Container>
		<Image
			class="absolute left-1/2 top-0 h-full w-full -translate-x-1/2 object-cover grayscale-[50%] lg:left-[75%]"
			src="/assets/images/miriam-about-02.webp"
			alt="Perfil"
			width={1000}
			height={600}
		/>
	</section>
</MainLayout>
<style>
	@media (orientation: landscape) and (max-height: 900px) {
		.hero-about-me {
			position: static;
		}
	}
</style>
