---
interface Props {
	classNames?: string
}

const { classNames } = Astro.props
---

<div data-container class:list={[classNames]}>
	<p
		class="email-text sm:leading-12 font-headings text-primary h-8 cursor-pointer text-center font-heading text-xl font-normal leading-8 transition-all ease-[cubic-bezier(.642,0,.328,1)] sm:h-12 sm:text-4xl"
	>
		descubriendolosastros@gmail.com
	</p>

	<p
		class="copy-text sm:leading-12 font-headings text-primary h-8 cursor-pointer text-center font-heading text-xl font-normal leading-8 transition-all ease-[cubic-bezier(.642,0,.328,1)] sm:h-12 sm:text-4xl"
	>
		Clic para copiar
	</p>

	<p
		class="copied-text sm:leading-12 font-headings text-primary h-8 cursor-pointer text-center font-heading text-xl font-normal leading-8 transition-all ease-[cubic-bezier(.642,0,.328,1)] sm:h-12 sm:text-4xl"
	>
		¡Email copiado!
	</p>
</div>

<script>
	type State = 'enter' | 'default' | 'done'

	const emailContainer = document.querySelector('[data-container]') as HTMLDivElement
	const emailText = emailContainer.querySelector('.email-text') as HTMLParagraphElement

	function updateState(newState: State) {
		const states = ['default', 'enter', 'done'] as const
		states.forEach((stateClass) => emailContainer.classList.remove(stateClass))
		emailContainer.classList.add(newState)
	}

	function handleMouseEnter() {
		updateState('enter')
	}

	function handleMouseLeave() {
		updateState('default')
	}

	function handleMouseClick() {
		updateState('done')
		navigator.clipboard.writeText(emailText.innerText)
	}

	emailContainer.addEventListener('mouseenter', handleMouseEnter)
	emailContainer.addEventListener('mouseleave', handleMouseLeave)
	emailContainer.addEventListener('click', handleMouseClick)
</script>

<style>
	.group {
		position: relative;
	}

	.email-text,
	.copy-text,
	.copied-text {
		text-align: center;
		transition: transform 0.5s var(--ease);
	}

	.default .email-text {
		transform: translateY(0);
	}

	.enter .email-text {
		transform: translateY(-100%);
	}

	.done .email-text {
		transform: translateY(-200%);
	}

	.default .copy-text {
		transform: translateY(0);
	}

	.enter .copy-text {
		transform: translateY(-100%);
	}

	.done .copy-text {
		transform: translateY(-200%);
	}

	.done .copied-text {
		transform: translateY(-200%);
	}
</style>
