---
interface Props {
	title: string
}

const { title } = Astro.props
---

<div class="text-center xl:text-left">
	<a
		class="font-heading text-xl font-light transition-colors duration-300 hover:text-primary"
		href="/"
		>Inicio -
	</a>
	<a
		class="font-heading text-xl font-light transition-colors duration-300 hover:text-primary"
		href="/blog"
		>Blog -
	</a>
	<span class="font-heading text-xl font-light capitalize text-primary">{title.split('/')[1]}</span>
</div>
