---
import { Image } from 'astro:assets'
import WrittenBy from './WrittenBy.astro'

interface Props {
	title: string
	image: string
	author: string
}

const { title, image, author } = Astro.props
---

<div
	class="container-image motion-preset-slide-down-sm relative h-[360px] w-full motion-duration-700 motion-ease-spring-bouncier xl:motion-preset-slide-right-sm lg:w-[900px] xl:w-[40%]"
>
	<WrittenBy author={author} className="absolute bottom-2 right-2 z-10 text-light" />
	<Image
		class="block h-full w-full object-cover"
		src={image}
		alt={title}
		width={300}
		height={200}
	/>
	<div class="gradient-90 absolute inset-0"></div>
</div>

<style>
	.gradient-90 {
		background-image: linear-gradient(to bottom right, transparent 65%, #000);
	}
	.container-image {
		&:before {
			content: '';
			position: absolute;
			inset: 0;
			box-shadow:
				0 0 0 2px #f6f2ef,
				0 0 0 3px rgba(var(--text-rgb), 0.5);
		}
	}
</style>
