---
import { Image } from 'astro:assets'

interface Props {
	title: string
	image: string
}

const { title, image } = Astro.props
---

<div class="relative h-[360px] w-full overflow-hidden lg:w-[900px] xl:w-[40%]">
	<Image
		class="block h-full w-full object-cover"
		src={image}
		alt={title}
		width={300}
		height={200}
	/>
</div>
