---
import Date from '@/components/blog/DateArticle.astro'
import MenuIcons from '@/components/MenuIcons.astro'

interface Props {
	title: string
	createdAt: Date
	excerpt: string
}

const { title, createdAt, excerpt } = Astro.props
---

<div
	class="relative mx-auto mt-28 flex w-[min(100%,900px)] flex-col items-center justify-center gap-4 px-2 xl:mt-0 xl:w-[60%]"
>
	<div
		class="absolute h-[165%] w-[15%] border-2 border-primary brightness-[.85] md:w-[10%] xl:w-[75px]"
	>
	</div>
	<div class="relative w-full bg-light py-4">
		<h2 class="text-center leading-none text-secondary">{title}</h2>
		<small class="my-6 block text-center text-sm italic leading-normal text-light brightness-[.35]"
			>{excerpt}</small
		>
		<div class="flex items-center justify-center md:justify-between">
			<Date color="alternative" createdAt={createdAt} />
			<div class="mx-4 h-[2px] w-[min(15%,70px)] bg-primary"></div>
			<MenuIcons color="alternative" className="w-[45%] justify-end gap-2" />
		</div>
	</div>
</div>
