---
import type { Datum } from '@/interfaces'

interface Props {
	prevArticle: Datum | undefined
	nextArticle: Datum | undefined
}

const { prevArticle, nextArticle } = Astro.props
---

<div
	class="relative mx-auto my-16 flex max-w-7xl flex-col items-center justify-center gap-16 xl:flex-row xl:justify-between"
>
	<a class="flex-1 text-left" href={`/articles/${prevArticle?.slug}`}>
		<h3 class="text-primary xl:text-4xl">{prevArticle?.title}</h3>
	</a>
	<a class="flex-1 text-right" href={`/articles/${nextArticle?.slug}`}>
		<h3 class="text-primary xl:text-4xl">{nextArticle?.title}</h3>
	</a>
</div>
