---
import type { ElementPhoto } from '@/interfaces'
import { Image } from 'astro:assets'

interface Props extends ElementPhoto {
	className?: string
}

const { className, image, position } = Astro.props as Props
const { url } = image!
---

<div
	class:list={[
		'my-12',
		className,
		{
			'flex justify-start': position === 'left',
			'flex justify-end': position === 'right',
			'flex justify-center': position === 'center'
		}
	]}
>
	<Image src={url} alt="Imagen del articulo" width={400} height={400} class="rounded-[6px]" />
</div>

<style define:vars={{ position: position }}></style>
