---
import { ViewTransitions } from 'astro:transitions'
import '@fontsource/ubuntu'
import '@fontsource/ubuntu/300.css'
import '@fontsource/ubuntu/400.css'

import '@fontsource/oswald'
import '@fontsource/oswald/300.css'
import '@fontsource/oswald/400.css'
import '@fontsource/oswald/700.css'
import '@/styles/global.css'

import Footer from '@/components/Footer.astro'
import NavBar from '@/components/NavBar.astro'

import 'lenis/dist/lenis.css'

interface Props {
	title: string
}

const { title } = Astro.props

const currentPath = Astro.url.pathname
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="relative">
		<NavBar idName="main-header" />
		<main
			class:list={[
				'light relative z-40 min-h-dvh pt-[calc(var(--header-height)+1rem)]',
				{
					'pt-0': currentPath.includes('/articles/')
				}
			]}
		>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script>
	import Lenis from 'lenis'

	type State = 'animate-up' | 'animate-down'

	document.addEventListener('astro:page-load', () => {
		const lenis = new Lenis()
		const header = document.querySelector('#main-header')

		lenis.on('scroll', (e) => {
			if (!header) return

			const position = e.animatedScroll
			const direction = e.direction
			if (position > 0 && direction > 0) {
				header.classList.remove('animate-down')
				header.classList.add('animate-up')
			} else {
				header.classList.remove('animate-up')
				header.classList.add('animate-down')
			}
		})

		function updateState(state: State) {
			const states = ['animate-up', 'animate-down'] as const
			states.forEach((stateClass) => header?.classList.remove(stateClass))
			header?.classList.add(state)
		}

		header?.addEventListener('mouseenter', () => {
			updateState('animate-down')
		})

		function raf(time: number) {
			lenis.raf(time)
			requestAnimationFrame(raf)
		}

		requestAnimationFrame(raf)
	})
</script>
